@import '~sass/_variables';

#footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background: lighten($secondary-color, 10%);
  color: $primary-color;
}
