<section class="search-container">
  <app-search (searchTerm)="onSubmittedSearchForm($event)"></app-search>
  <p>Sharing a few of our favorite movies</p>  
</section>

<main *ngIf="movies$">
  <div *ngIf="movies$ | async as movies; else loading"> 
    <h2 *ngIf="movies.length">Movies</h2>
    <section class="card-container">
      <figure *ngFor="let movie of movies; index as i" class="card">
        <a [routerLink]="['/movies', movie.id]">
          <h2>{{movie.title}}</h2>
          <img
            width="200"
            alt="The movie title: {{movie.title}}"
            src={{movie.poster}}
          />
        </a>
        <h5>{{movie.year}}</h5>
      </figure> 
    </section>
  </div>
</main>

<ng-template #loading>Loading...</ng-template>
