<section class="search-container">
  <app-search (searchTerm)="onSubmittedSearchForm($event)"></app-search>
  <p>Sharing a few of our favorite movies</p>  
</section>

<!-- <h5 *ngIf="loading && !errorMessage">Loading...</h5>
<h5 *ngIf="!loading && errorMessage">{{errorMessage}}</h5> -->
<main *ngIf="moviesObservable | async as movies">
  <h2>Movies</h2>
  <section class="card-container">
    <figure *ngFor="let movie of movies; index as i" class="card">
      <h2><a [routerLink]="['/movies', movie.id]">{{movie.title}}</a></h2>
      <img
        width="200"
        alt="The movie title: {{movie.title}}"
        src={{movie.poster}}
      />
      <h5>{{movie.year}}</h5>
    </figure> 
  </section>
</main>
